.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-image: url(/img/fondo.jpg);
    
  }